@font-face {
  font-family: "OpenSansCondensed-Light";
  src: url(../fonts/OpenSansCondensed-Light.woff2),
    url(../fonts/OpenSansCondensed-Light.woff);
}

@font-face {
  font-family: "OpenSansCondensed-Bold";
  src: url(../fonts/OpenSansCondensed-Bold.woff2),
    url(../fonts/OpenSansCondensed-Bold.woff);
}
