/**
 * Depend on project
 */
body{
  // font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
//  font-family: -apple-system, BlinkMacSystemFont, YuGothic, "Yu Gothic", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Sans-Serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Sans-Serif;
  background: $color-default-o;
  color: $color-default;
  font-size: 14px;
  letter-spacing: 0.02rem;
}

a {
  color: $color-link;
}

.nowrap {
  display: inline-block;
}
